---
layout: default
---

<div class="entries">
    {% for post in paginator.posts %}
    <div class="entry">
    {% if post.thumb %}
        <figure class="thumb">
            <a href="{{ post.url | relative_url }}">
                <img src="{{ site.url }}/images/{{ post.thumb }}" alt="thumbnail" />
            </a>
        </figure>
    {% endif %}
        <div class="content">
            <h2 class="title">
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <p class="excerpt">
                {{ post.excerpt | strip_html | normalize_whitespace | truncate: 300 | escape }}
            </p>
        </div>
        <aside class="info">
            <i class="fa fa-fw fa-calendar"></i> {{ post.date | date: "%Y-%m-%d" }} 
            <i class="fa fa-fw fa-clock-o"></i> {{ post.date | date: "%k:%M" }}
        </aside>
    </div>
    {% endfor %}

    <hr />
    <div class="pagination row">
        <div class="col">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-fw fa-lg fa-long-arrow-left"></i></a>
        {% endif %}
        </div>
        <div class="col text-center">
            <small>{{ paginator.page }} / {{ paginator.total_pages }}</small>
        </div>
        <div class="col text-right">
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-fw fa-lg fa-long-arrow-right"></i></a>
        {% endif %}
        </div>
    </div>
</div>


