body {
    background: #434443 url('../img/bg.jpg') repeat;
}

.wrapper {
    background: #ceb9a1 url('../img/content-bg.jpg') repeat;
}

header.site-header {
    display: block;
    width: 100%;
    min-height: 100px;
    background: transparent url('../img/header-bg.jpg') repeat-x;
    margin-bottom: 3em;
}

header.site-header h1 {
    color: #333;
}

header.site-header h1 a {
    color: #333;
    text-decoration: none;
}

#description {
    text-align: right;
    padding: 1em 0;
}

#description > span {
    display: inline-block;
    padding: 7px 14px;
    background-color: rgba(27, 54, 68, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: #ccc;
}

main.site-content {
    border-bottom: 2px solid #3B3B3A;
}

.entries {
    padding: 2%;
}

.entry {
    background: #fff;
    border-bottom: 2px solid #667686;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 2px;
    margin: 2.5%;
}

.entry .content {
    padding: 2%;
}

.entry .content h2 {
    margin-bottom: 1em;
    color: #333;
}

.entry .content h2 a {
    color: #333;
    text-decoration: none;
}

.entry .content h2 a:hover {
    color: #d54e21;
}

.entry .post p {
    margin: 1em;
}

.entry .post blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1em 5px;
    padding: 0.25em 5px;
    quotes: "\201C""\201D""\2018""\2019";
}

.entry aside.info {
    padding: 1% 2%;
    background: #525E6B;
    border-top: #354250 1px solid;
    color: #ccc;
}

.pagination {
    padding: 0.5em 0;
    margin: 2%;
    background-color: rgba(27, 54, 68, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.pagination, 
.pagination a {
    color: #ccc;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.pagination a:hover {
    color: #d54e21;
}

footer.site-footer .copy {
    color: #ddd;
}

footer.site-footer .icons {
    text-align: right;
}

footer.site-footer .icons a {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-decoration: none;
}

footer.site-footer .icons a:hover {
    color: rgba(255, 255, 255, 0.2);
}
